
/*Typography imports*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Lato:ital,wght@1,300;1,400&family=Orbitron&display=swap');


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body{
    background-color: rgba(224, 224, 224, 0.5);
  }
/* Styles the Nav-Bar */
.navbar{
    background-image: linear-gradient(#4A535E, #202d3b, rgb(39, 39, 62));
}
.logo{
    width: 5rem;
    border-radius: 20px;
    transition: transform 1s;;
}
.logo:hover{
    transform: scale(1.2);
}
.navbar-nav{
   font-size: 1.2rem;
   font-weight: 550;
}
.nav-link{
    margin-left: 3rem;
    color: white !important;
}
.active::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.active:hover::after{
    width: 100%;
}
.dropdown{
margin-left: auto;
margin-right: 0 !important;
}

/* Styles carousels */
.carousel-item{
    max-height: 100vh;
    opacity: 0.80;
}

/* Styles the search Bar field */
.main form{
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
}

/* Media queries for search Bar */
@media (max-width: 1450px) and (min-width: 1150px) {
    .main form {
      top: 50%;
    }
  }
  @media (max-width: 1150px) {
    .main form {
      top: 45%;
    }
  }
  @media (max-width: 912px){
    .main form{
        top:28%;
    }
}
@media (max-width: 830px){
    .main form{
        top:30%;
    }
    input{
        width: 25rem !important;
    }
}
@media (max-width: 650px){
    .main form{
        top:33%;
    }
    input{
        width: 20rem !important;
    }
}
@media (max-width: 520px){
    .main form{
        top:30%;
    }
    input{
        width: 17rem !important;
    }
}
@media (max-width: 420px){
    .main form{
        top:23%;
    }
    input{
        width: 14rem !important;
    }
}

input{
    width: 30rem;
    outline: none;
    height: 2.5rem;
    border-radius: 5px;
    border-style: none;
} 
.search-input-wrapper {
   position: relative;
   display: inline-block;
   cursor: pointer;
}
 
.search-input-wrapper::after {
   content:"";
   position: absolute;
   z-index: 1;
   top: 0;
   bottom: 0;
   margin: auto;
   right: 0px;
   background: url("/assets/images/search-icon-png-21.png") no-repeat center;
   background-size: 20px auto;
   height: 25px;
   width: 40px;
}



/* Styles the card on landing page*/

.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 10px;
}
.heading-cards {
    text-align: center;
    display: block;
    margin-top: 30px;
}

.card {
    display: block;
    height: 75vh;
    width: 450px;
    border: 1px solid #ffff;
    margin: 0 0 30px 0;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0.12) 1px 1px 20px 0px;
}

.card-img-top {
    height: 40%;
    width: 100%;
}

.card-title {
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 400 bold;
    display: block;
    margin-top: 20px;

}



.audio-bar {
    width: 100%;
    display: inline;
}

.card-text {
    font-size: 1em;
}


.heading-cards {
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 50px auto;
  }
  

/* Styles card components on second page */
.search-card{
    height: 40rem;
    display: block;
    margin:5em auto;
    transition: transform 1s;;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card-text{
    text-align: center;
}
.search-card:hover{
    transform: scale(1.02);
}
.btn2{
    margin-left: 12em;
}
/* Styles the share and save button on page 2 */
.share-save{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}
.share-save p{
    display: inline-block;
    margin-left: 1.1rem;
    background-image: linear-gradient(white, rgba(185, 185, 211, 0.7));
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.5rem;
    font-weight: 500;
}
.share-save a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}



