* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body{
    background-color: rgba(224, 224, 224, 0.5);
  }
/* Styles the Nav-Bar */
.navbar{
    background-image: linear-gradient(#4A535E, #202d3b, rgb(39, 39, 62));
}
.logo{
    width: 5rem;
    border-radius: 20px;
    transition: transform 1s;;
}
.logo:hover{
    transform: scale(1.2);
}
.navbar-nav{
   font-size: 1.2rem;
   font-weight: 550;
}
.nav-link{
    margin-left: 3rem;
    color: white !important;
}
.active::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.active:hover::after{
    width: 100%;
}
.dropdown{
margin-left: auto;
margin-right: 0 !important;
}

/* Styles carousels */
.carousel-item{
    max-height: 85vh;
}
/* Styles the search input field */
.main form{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

input{
    width: 30rem;
    outline: none;
    height: 2.5rem;
    border-radius: 5px;
    border-style: none;
} 
.search-input-wrapper {
   position: relative;
   display: inline-block;
   cursor: pointer;
}
 
.search-input-wrapper::after {
   content:"";
   position: absolute;
   z-index: 1;
   top: 0;
   bottom: 0;
   margin: auto;
   right: 0px;
   background: url("/assets/images/search-icon-png-21.png") no-repeat center;
   background-size: 20px auto;
   height: 25px;
   width: 40px;
}
/* Styles the card on landing page*/
.container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 10px;
}
.heading-cards {
    text-align: center;
    display: block;
    margin-top: 30px;
}

/* Styles card on second page */
.search-card{
    height: 40rem;
    display: block;
    margin:5em auto;
    transition: transform 1s;;
    cursor: pointer;
    position: relative;
}
.card-text{
    text-align: center;
}
.search-card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transform: scale(1.02);
}
.btn2{
    margin-left: 12em;
}
.share-save{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}
.share-save p{
    display: inline-block;
    margin-left: 1.5rem;
    background-image: linear-gradient(white, rgb(185, 185, 211));
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 0.5rem;
    font-weight: 500;
}
